<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SprintProject2"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="Uniform.AppTest"/>
        <listEntry value="cucmberoptions.TestRunner"/>
        <listEntry value="pageobjects.loginpage"/>
        <listEntry value="Uniform.listners"/>
        <listEntry value="resources.ExtentReportNG"/>
        <listEntry value="cucmberoptions.EditTestRunner"/>
        <listEntry value="Uniform.Validateregisterpage"/>
        <listEntry value="stepdefinitions.RegisterStepdefnition"/>
        <listEntry value="resources.base"/>
        <listEntry value="pageobjects.Registerpage"/>
        <listEntry value="Uniform.Validateeditinformation"/>
        <listEntry value="stepdefinitions.EditinformationstepDefnition"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
